[submodule ".vim"]
	path = .vim
	url = https://github.com/mikeage/vimfiles
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "fzf-git"]
	path = fzf-git
	url = https://gist.github.com/8c55bd57fc58aa998cc8db9454e76970.git
