[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "fzf-git.sh"]
	path = fzf-git.sh
	url = https://github.com/junegunn/fzf-git.sh.git
[submodule "alacritty-theme"]
	path = alacritty-theme
	url = https://github.com/alacritty/alacritty-theme.git
