$include /etc/inputrc
#set editing-mode vi
$if mode=vi
set keymap vi-command
# these are for vi-command mode
"\e[A": history-search-backward
"\e[B": history-search-forward
set keymap vi-insert
# # these are for vi-insert mode
"\e[A": history-search-backward
"\e[B": history-search-forward
$else
"\e[A": history-search-backward
"\e[B": history-search-forward
$endif

set show-all-if-ambiguous on
set show-all-if-unmodified on

set completion-ignore-case on

# Show *, @, / etc in completions
set visible-stats on
set mark-directories on
set mark-symlinked-directories on

# Color the common prefix in completions
set colored-completion-prefix on

# Be more intelligent when autocompleting (don't re-complete when in the middle of a word)
set skip-completed-text on
