[MAIN]
init-hook=
    import sys
    sys.path.append("/usr/local/lib/python3.12/site-packages")
    try: import pylint_venv
    except ImportError: pass
    else: pylint_venv.inithook(force_venv_activation=True)
